<div class="row">
  <div class="large-12 columns">
    <h1><%= @status_string %></h1>
    <h1>Grafik Status 15 Menit Terakhir</h1>
    <small>Ping menyatakan kecepatan respons. Makin rendah makin baik.</small>
    <div id="chart_div" style="width:100%;height:13em;background:#fafafa;"></div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h1>Status Detail</h1>
    <small>Ping menyatakan kecepatan respons. Makin rendah makin baik.</small>
    <table>
      <tr>
        <th>Waktu</th>
        <th>Ping</th>
      </tr>

    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.created_at %></td>
        <td><%= status.ping_ms %> ms</td>
      </tr>
    <% end %>
    </table>
    <%= paginate @statuses %>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          <%= raw @data_json.as_json %>
         );

        var options = {
          pointSize: 5
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
      
    </script>

  </div>
</div>


<br />